<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOS Tag</title>
</head>

<body>
  <h1>KOUKOU C MOI LA FICHE SANTÉÉ</h1>

  <section>
    <div id="name"><%= name %></div>
    <div><%= dob %></div>
  </section>

  <section>
    <details>
      <summary>Contacts d'urgence</summary>
      Compagne
      Marie Durand 06 24 78 85 10
    </details>
  </section>

  <section>
    <div>
      Hypertension artérielle
    </div>
  </section>
</body>

<style>
  body {
    background-color: #eee;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #333;
  }

  section {
    margin-bottom: 1.5rem;
  }

  div {
    margin-bottom: 0.2rem;
  }

  #name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  details {
    border: solid 1px #888;
  }
</style>

</html>
